* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #200122; /* fallback for old browsers */
    background: -webkit-linear-gradient(
            to right,
            rgba(111, 0, 0, 0.97),
            rgba(32, 1, 34, 0.98)
        ),
        url(../images/index-bg.jpg); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
            to right,
            rgba(111, 0, 0, 0.97),
            rgba(32, 1, 34, 0.98)
        ),
        url(../images/index-bg.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#logo {
    position: fixed;
    width: 90%;
    max-width: 210px;
    top: 10px;
    left: 10px;
}

main {
    /* min-width: 100vw;
    max-width: 100vw; */
    width: 100vw;
    height: 100vh;
}

main form {
    background: rgb(0 0 0 / 40%);
}

main form input[type="text"],
main form input[type="password"] {
    border: none;
}

main form .form-control:focus {
    box-shadow: none;
}
